---
export interface Props {
	name: string;
}

const { name } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{name}</title>
	<style>
		header {
			width: 100%;
			height: 3rem;
		}
		a {
			text-decoration: underline;
			color: brown;
		}

		ul {
			list-style: none;
		}
	</style>
</head>
<body>
	<header>
			<nav>
				<ul>
					<li><a href="/">HOME</a></li>
				</ul>
			</nav>
	</header>
	<slot />
</body>
</html>